.card {
    --clr-box-shadow: rgba(0, 0, 0, 0.151);
    --clr-ouline-color: rgba(255, 255, 0, 0.37);

    background-color: var(--clr-grey);
    color: var(--clr-light);
    padding: 1em;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: box-shadow 350ms ease-out;

    display: flex;
    gap: 1em;

    &:hover,
    &:focus-within {
        box-shadow: var(--clr-box-shadow) -10px 20px 10px;
        outline: 1px solid var(--clr-ouline-color);

        .card__play {
            transition: transform 200ms ease-out;
            transform: translateY(0);
        }
    }

    .card__img {
        border-radius: 10px;
        width: 40%;
    }

    .card__title {
        font-weight: 700;
        font-size: 1.75rem;
        margin-block: 0;
    }

    .card__user {
        /* margin-block: 0 0.5em; */
        b {
            color: var(--clr-accent);
        }
    }

    .card__tag {
        background-color: var(--clr-dark-100);
        border-radius: var(--border-radius);
        color: var(clr-accent);
        text-transform: lowercase;
        padding: 0.5em;
        margin-right: 0.25em;
        color: var(--clr-accent);
    }

    .card__time {
        display: block;
        margin-top: 80%;
    }

    .card__play {
        background-color: var(--clr-accent);
        border-radius: 50%;
        width: 3em;
        aspect-ratio: 1/1;
        border: 0;

        display: grid;
        place-content: center;

        align-self: end;
        margin-left: auto;

        transform: translateY(5em);

        img {
            width: 1em;
            filter: invert(12%) sepia(6%) saturate(1104%) hue-rotate(194deg)
                brightness(95%) contrast(91%);
        }
    }
}
