.playlists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
    gap: 1em;
}

.empty {
    text-align: center;
    font-weight: 700;
    font-size: 3rem !important;
    opacity: 0.5;
    color: var(--clr-light);
}
.sortSearchContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 1em;
}
.sortSelect {
    padding: 0.8em 2em;
    cursor: pointer;
    background-color: var(--clr-dark);
    border-radius: var(--border-radius);
    color: var(--clr-light);
    border: 0;
}
