.main {
    background-color: var(--clr-dark-100);
    padding: 1em;
    border-radius: var(--border-radius);

    h1 {
        color: var(--clr-light);
        margin-block: 0em 0.75em;
        font-size: 2.5rem;
    }

    margin-bottom: 2.5em;

    form {
        margin: 0;
        padding: 0;
        margin-bottom: 1em;
    }
}
