.main {
    background-color: var(--clr-dark-100);
    padding: 1em;
    border-radius: var(--border-radius);

    h1 {
        color: var(--clr-light);
        margin-block: 0em 1em;
        font-size: 2.5rem;
    }

    p {
        color: var(--clr-light);
        margin-block: 0em 1em;
        font-size: 1.4rem;
    }
}
