@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS BROWsER STYLE RESETS */
:root {
    --body-line-height: 1.5;
    --heading-line-height: 1.1;

    --font-family: 'Montserrat', sans-serif;
}

/* applying box-sizing of border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
html:focus-within {
    /* add smooth scroll to the page */
    scroll-behavior: smooth;
    hanging-punctuation: first last;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-family);
    line-height: var(--body-line-height);

    /* text renders faster on a webpage, switch this to 'optimizeLegibility' for nicer looking text at the detriment of rendering times */
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

/* makes titles and headings wrap in a readable way */
:where(h1, h2, h3, h4) {
    font-family: var(--font-family);
    text-wrap: balance;
    line-height: var(--heading-line-height);
}

/* makes paragraphs wrap in a readable way, and prevents paragraphs being too long */
:where(p, li, figcaption) {
    text-wrap: pretty;
    max-width: 75ch;
}

/* make text brake at words instead of letters at new lines */
:where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
}

/* remove bottom border from these elements to prevent double margins and have better control over flow of the page */
:where(h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
    margin-block-end: 0;
}

/* removing default styling from lists with classes */
:where(ul, ol):where([class]) {
    list-style: '';
}

/* make media elements block-level */
:where(img, svg, video, canvas, audio) {
    display: block;
    max-width: 100%;
}

/* make font elements inherit font styles (they do not by default) */
:where(input, button, textarea, select) {
    font-family: inherit;
    font-size: inherit;
}

/* give all non disabled buttons a pointer cursor */
:where(input[type='submit'], button):not(:disabled) {
    cursor: pointer;
}

/* removing default link styling from anchor tags with classes */
a {
    text-decoration: none;

    &:not([class]) {
        text-decoration-skip-ink: auto;
        color: currentColor;
    }
}

/* give some height to textareas with no rows */
textarea:not([rows]) {
    min-height: 10rem;
}

/* add some marging to anchored elements */
:target {
    scroll-margin-block: 5ex;
}

/* CSS GLOBAL STYLES */

:root {
    --clr-light: hsl(0, 0%, 100%);
    --clr-dark: hsl(231, 11%, 12%);
    --clr-dark-100: hsl(231, 9%, 16%);
    --clr-grey: hsl(230, 5%, 21%);
    --clr-accent: hsl(54, 84%, 51%);

    --border-radius: 10px;

    --clr-box-shadow: rgba(0, 0, 0, 0.151);
    --box-shadow: var(--clr-box-shadow) -10px 20px 10px;
}

body {
    background-color: var(--clr-dark);
}
