.playlistNav {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--clr-light);

    a {
        display: inline-block;
        color: var(--clr-light);
        font-weight: 600;
        margin-bottom: 0.5em;
        padding: 0.5em;
        padding-right: 5em;
        border-radius: 5px;

        &:hover,
        &:focus-within {
            background-color: hsla(228, 5%, 21%, 0.493);
            transition: background-color 150ms ease-in-out;
        }
    }

    a:last-of-type,
    a:first-of-type {
        margin-left: auto;
        background-color: var(--clr-accent);
        color: var(--clr-dark);
        padding-right: 0.5em;
    }

    a:first-of-type {
        margin-left: 0;
        background-color: var(--clr-grey);
        outline: solid 1px var(--clr-dark-100);
        color: var(--clr-light);
        padding-right: 5em;
    }

    .active {
        background-color: var(--clr-grey);
        outline: solid 1px var(--clr-dark-100);

        &:hover {
            background-color: var(--clr-grey);
        }
    }
}
