.nav {
    display: flex;
    gap: 1em;
    font-weight: 700;
    padding-block: 2em;
    align-items: center;

    img {
        width: 3.5em;
    }

    .nav__link {
        position: relative;
        color: var(--clr-light);
        padding: 0.5em;
        border-radius: calc(var(--border-radius) / 2);

        &:hover,
        &:focus-within {
            background-color: hsla(228, 5%, 21%, 0.493);
            transition: background-color 150ms ease-in-out;
        }

        &:nth-of-type(2) {
            margin-left: auto;
        }

        &:nth-of-type(3) {
            background-color: var(--clr-accent);
            color: var(--clr-dark);
        }
    }

    .nav__logout {
        margin-left: auto;
        color: var(--clr-dark);
        width: max-content;
        padding: 0.5em;
        border-radius: calc(var(--border-radius) / 2);
    }
}
