.nav {
    display: flex;
    gap: 2em;
    font-weight: 700;
    padding-block: 2em;
    align-items: center;
    margin-bottom: 2em;

    img {
        width: 3.5em;
    }

    .nav__link {
        position: relative;
        color: var(--clr-light);
        transition: color 275ms ease-in-out;

        &:hover {
            color: var(--clr-accent);
            transition: color 275ms ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0%;
            height: 4px;
            border-radius: var(--border-radius);
            background-color: var(--clr-accent);
            transition: width 275ms ease-in-out;
        }

        &:hover::after {
            content: '';
            width: 100%;
            transition: width 275ms ease-in-out;
        }

        &:nth-of-type(2) {
            margin-left: auto;
        }
    }

    .nav__logout {
        margin-left: auto;
        appearance: none;
        color: var(--clr-light);
        transition: color 275ms ease-in-out;
        background: none;
        border: 0;

        &:hover {
            color: var(--clr-accent);
            transition: color 275ms ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0%;
            height: 4px;
            border-radius: var(--border-radius);
            background-color: var(--clr-accent);
            transition: width 275ms ease-in-out;
        }

        &:hover::after {
            content: '';
            width: 100%;
            transition: width 275ms ease-in-out;
        }
    }
}
